#Cloudinary
CLOUDINARY_CLOUD_NAME=cloudinary_name
CLOUDINARY_API_KEY=cloudinary_apikey
CLOUDINARY_API_SECRET=cloudinary_api_secret

#VNPay
TMNCODE=vnpay_tmncode
HASHSECRET=vnpay_hashsecret
PAYURL=vnpay_url

#Database
DB_NAME=db_name
DB_PASSWORD=db_password

#GOOGLE_AUTH
CLIENT_ID=google_client_id
CLIENT_SECRET=google_client_secret
GMAIL_PASSWORD=google_app_password

#OPENAI
OPENAI_KEY=chatbot-api-key

#FACEBOOK
FACEBOOK_ID=facebook_id
FACEBOOK_SECRET=facebook_secret_id
